*         # Ignore all dot files
!.gitignore  # But keep the .gitignore file itself
._*
.DS_Store
*.fastq.gz
*.bam
*.bam.bai
*.methylKit
*.methylKit.gz
*.bedGraph
*.bedGraph.gz
*.gz
*.zip
*.out
*.err
*.html
*.json
*.txt
*.tsv
*.svg
*.log
*.fa
*.bwt
*.ann
*.pac
*.sa
*.amb
*.fa.fai
!*.md
!*.py
!*.sh
!*.R
